{% load static %}

<div class="tabla-container">
    <table class="tableStyle">
    <tr>
        <td>
            <div class="container">
                <!--<img src="{% static '/img/PROYECTOS.gif' %}" alt="Avatar" class="image">-->
                <h1>PROYECTOS</h1>
                <div class="overlay">
                <div class="text">
                    <h2>Ingeniería</h2>
                    <h2>Arquitectura</h2>
                    <h2>Licencias</h2>
                </div>

            </div>
            </div>
        </td>
        <td>
            <div class="container">
                <h1>PROYECTOS</h1>
                <div class="overlay">
                <div class="text">Hello World</div>
            </div>
            </div>
        </td>
        <td>
            <div class="container">
                <h1>PROYECTOS</h1>
                <div class="overlay">
                <div class="text">Hello World</div>
            </div>
            </div>
        </td>
    </tr>
            <tr>
        <td>
            <div class="container">
                <h1>PROYECTOS</h1>
                <div class="overlay">
                <div class="text">Hello World</div>
            </div>
            </div>
        </td>
        <td>
            <div class="container">
                <h1>PROYECTOS</h1>
                <div class="overlay">
                <div class="text">Hello World</div>
            </div>
            </div>
        </td>
        <td>
            <div class="container">
                <h1>PROYECTOS</h1>
                <div class="overlay">
                <div class="text">Hello World</div>
            </div>
            </div>
        </td>
    </tr>
    </table>
</div>