{% load static %}
<div class="tabla-container">
    <table class="tableStyle">
    <tr>
        <td>
            <div class="container">
                <img src="{% static '/img/PROYECTOS.gif' %}" alt="Avatar" class="image">
                <div class="overlay">
                <div class="text">Hello World</div>
            </div>
            </div>
        </td>
        <td>
            <div class="container">
                <img src="{% static '/img/PROYECTOS.gif' %}" alt="Avatar" class="image">
                <div class="overlay">
                <div class="text">Hello World</div>
            </div>
            </div>
        </td>
        <td>
            <div class="container">
                <img src="{% static '/img/PROYECTOS.gif' %}" alt="Avatar" class="image">
                <div class="overlay">
                <div class="text">Hello World</div>
            </div>
            </div>
        </td>
    </tr>
            <tr>
        <td>
            <div class="container">
                <img src="{% static '/img/PROYECTOS.gif' %}" alt="Avatar" class="image">
                <div class="overlay">
                <div class="text">Hello World</div>
            </div>
            </div>
        </td>
        <td>
            <div class="container">
                <img src="{% static '/img/PROYECTOS.gif' %}" alt="Avatar" class="image">
                <div class="overlay">
                <div class="text">Hello World</div>
            </div>
            </div>
        </td>
        <td>
            <div class="container">
                <img src="{% static '/img/PROYECTOS.gif' %}" alt="Avatar" class="image">
                <div class="overlay">
                <div class="text">Hello World</div>
            </div>
            </div>
        </td>
    </tr>
    </table>
</div>