<div class="title-style">
    <p>NODE</p>
</div>

<div class="container-fluid">
    <div class="container-service row row-service service clearfix">
        <ul class="header header-link">
            <li role="" class="">
                <a class="">EDIFICACIÓN
                       <span class="extra-text1">
                             <h2> Realizamos proyectos de ARQUITECTURA e INGENIERÍA</h2>
                        </span></a>
            </li>
            <li role="" class="">
                <a class="">REHABILITACIÓN
                    <span class="extra-text2">
                            <h2>Gestionamos y ejecutamos obras de <strong>CONSTRUCCIÓN</strong>  y
                            <strong>REFORMAS</strong></h2>
                        </span></a>
            </li>
            <li role="" class="">
                 <a class="">INTERIORISMO
                        <span class="extra-text3">
                            <h2>Le asesoraremos de manera personalizada desde el proyecto y la ejecución</h2>
                        </span></a>
            </li>
            <li role="" class="">
                <a class="">INDUSTRIA
                        <span class="extra-text4">
                    <h2>Esto es una prueba de texto oculto</h2>
                        </span></a>
            </li>
            <li>
                <a class="">LICENCIAS
                        <span class="extra-text5">
                    <h2>Esto es una prueba de texto oculto</h2>
                        </span></a>
            </li>
            <li>
                <a class="">ASESORÍA
                        <span class="extra-text6">
                    <h2>Esto es una prueba de texto oculto</h2>
                        </span></a>
            </li>
        </ul>
    </div>
</div>

