<div class="title-style">
    <p>NODE</p>
</div>

<div class="container-fluid">
    <div class="col-lg-12 col-md-12 col-sm-12 row row-service service">
        <a class="col-lg-3 hidden-md hidden-sm"></a>
        <a class="col-lg-1 col-md-2 col-sm-2">PROYECTOS <h2><span class="extra-text1"> Realizamos proyectos de edificación e industrias
            así como licencias de aperturas</span></h2> </a>
        <a class="col-lg-1 col-md-2 col-sm-2">OBRAS <h2><span class="extra-text2"> Llevamos a cabo nuevas construcciones y reformas</span></h2></a>
        <a class="col-lg-1 col-md-2 col-sm-2">ASESORÍA <h2><span class="extra-text3"> Le asesoraremos desde la idea del proyecto
            y su ejecución</span></h2></a>
        <a class="col-lg-1 col-md-2 col-sm-2">PROYECTOS <h2><span class="extra-text4">
            Esto es una prueba de texto oculto</span></h2></a>
        <a class="col-lg-1 col-md-2 col-sm-2">OBRAS <h2><span class="extra-text5">
            Esto es una prueba de texto oculto</span></h2></a>
        <a class="col-lg-1 col-md-2 col-sm-2">ASESORÍA <h2><span class="extra-text6">
            Esto es una prueba de texto oculto</span></h2></a>
        <a class="col-lg-3 hidden-md hidden-sm"></a>
    </div>
</div>

