/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  overflow: hidden;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: "font-dots";
  src: url("../fonts/HIGHSPEED.TTF") format("truetype"); }
@font-face {
  font-family: "codepro";
  src: url("../fonts/SourceCodePro-Light.ttf") format("truetype"); }
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf") format("truetype"); }
@font-face {
  font-family: "service-font";
  src: url("../fonts/Raleway-ExtraLight.ttf") format("truetype"); }
h1 {
  font-size: 1.5em; }

h2 {
  font-size: 1em; }

h3 {
  font-size: 0.5em; }

@media (max-width: 1400px) {
  h2 {
    font-size: 0.8em; } }
@media all and (max-width: 767px) {
  h1 {
    font-size: 1em; }

  h2 {
    font-size: 0.75em; } }
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* html .clearfix {
  zoom: 1; }

/* IE6 */
*:first-child + html .clearfix {
  zoom: 1; }

/* IE7 */
.background-container {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: black; }

.background-body {
  position: fixed;
  margin: 0 auto;
  max-width: 90%;
  height: auto; }

.menu-button-white {
  position: fixed;
  padding-left: 40px;
  padding-top: 20px;
  font-size: 40px;
  color: white;
  cursor: pointer; }

.menu-button-black {
  position: fixed;
  padding-left: 40px;
  padding-top: 20px;
  font-size: 40px;
  color: black;
  cursor: pointer; }

.sidenav {
  height: 100%;
  /* 100% Full-height */
  width: 0;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Stay on top */
  top: 0;
  left: 0;
  background-color: #111;
  /* Black*/
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 60px;
  /* Place content 60px from the top */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidenav */ }

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s; }

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus {
  color: #f1f1f1; }

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px; }

.closebtn a:hover {
  font-size: 50px; }

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px; }

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px; }

  .sidenav a {
    font-size: 18px; } }
.footer {
  padding-bottom: 100px; }

.footer-class {
  position: absolute;
  bottom: 0;
  height: 150px;
  width: 100%;
  z-index: 100;
  background-color: transparent;
  text-align: center;
  color: #FFF3E3; }

.footer-label {
  position: absolute;
  bottom: 0;
  float: left;
  width: 100%;
  height: 20px;
  color: #FFF3E3; }

.footer h2 {
  margin-top: 1%;
  padding: 1%; }

.footer p {
  filter: alpha(opacity=60);
  -moz-opacity: 0.60;
  opacity: 0.60;
  padding: 0.5%;
  font-family: arial;
  font-size: 1em; }
  @media (max-width: 1400px) {
    .footer p {
      font-size: 0.8em; } }
  @media (max-width: 768px) {
    .footer p {
      font-size: 0.6em; } }
  @media all and (max-width: 767px) {
    .footer p {
      font-size: 0.6em; } }

.footer-label {
  background-color: rgba(0, 0, 0, 0.1); }

.footer-label p {
  padding: 4px;
  font-family: roboto;
  font-size: 10px; }

.footer-label a {
  color: #FFF3E3; }

.footer-label a:hover {
  text-decoration: none;
  font-weight: bold; }

.carousel {
  display: inline-flex;
  height: 360px;
  width: 100%;
  margin: auto;
  background: transparent; }

.carousel-control {
  background-color: transparent;
  margin-left: 15%;
  margin-right: 15%;
  width: 0;
  color: #FF3D2E;
  opacity: 0.3;
  filter: alpha(opacity=30); }

.item img {
  margin: auto; }

@-webkit-keyframes move {
  from {
    left: -10%; }
  to {
    left: 0%; } }
.rotating-item {
  display: none;
  position: fixed;
  width: 120vw;
  height: 100vh;
  filter: alpha(opacity=70);
  -moz-opacity: 0.70;
  opacity: 0.70;
  top: 0;
  left: 0; }

#transicion img {
  position: absolute;
  transition-timing-function: linear;
  -webkit-animation: move 15s;
  animation: move 15s; }

.title-style {
  position: fixed;
  top: 30%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.container-service {
  width: 100%; }

.header {
  text-align: center;
  padding-top: 12px;
  padding-bottom: 10px;
  line-height: 50px;
  margin: 0;
  background-color: transparent; }

.header-link li {
  color: #337ab7;
  display: inline;
  text-align: center;
  padding: 10px 15px;
  background-color: transparent; }

.title-style p {
  font-family: codepro;
  font-size: 12em;
  color: white;
  filter: alpha(opacity=60);
  -moz-opacity: 0.60;
  opacity: 0.60; }
  @media (max-width: 1400px) {
    .title-style p {
      font-size: 10em; } }
  @media (max-width: 768px) {
    .title-style p {
      font-size: 8em; } }
  @media all and (max-width: 767px) {
    .title-style p {
      font-size: 6em; } }

.row-service {
  position: fixed;
  top: 50%;
  padding: 0;
  margin: 0; }

.service a {
  font-family: roboto;
  cursor: pointer;
  color: white;
  font-size: 1.2em; }
  @media (max-width: 1400px) {
    .service a {
      font-size: 1em; } }
  @media (max-width: 768px) {
    .service a {
      font-size: 1em; } }
  @media all and (max-width: 767px) {
    .service a {
      font-size: 0.4em; } }

.service li {
  display: inline;
  text-align: center;
  padding: 10px 15px;
  background-color: transparent; }

.service a:-webkit-any-link {
  text-decoration: none;
  text-transform: uppercase; }

.service a:hover, a:focus {
  text-decoration: none;
  font-weight: bold; }

.extra-text1, .extra-text2, .extra-text3, .extra-text4, .extra-text5, .extra-text6 {
  font-family: roboto;
  color: white;
  display: none;
  text-transform: uppercase;
  position: fixed;
  top: 60%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

a:hover .extra-text1 {
  display: inline; }

a:hover .extra-text2 {
  display: inline; }

a:hover .extra-text3 {
  display: inline; }

a:hover .extra-text4 {
  display: inline; }

a:hover .extra-text5 {
  display: inline; }

a:hover .extra-text6 {
  display: inline; }

.service a:active {
  text-decoration: none; }

.service a:visited {
  text-decoration: none; }

.extra-text1 {
  display: none; }

.extra-text2 {
  display: none; }

.extra-text3 {
  display: none; }

.extra-text4 {
  display: none; }

.extra-text5 {
  display: none; }

.extra-text6 {
  display: none; }

body {
  background-color: #ECF0F1; }

.tableStyle {
  position: fixed;
  height: 80vh;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.tableStyle img {
  position: relative;
  max-width: 100%;
  max-height: 100%; }

.container {
  position: relative;
  width: 250px;
  height: 80%;
  text-align: center; }

.container h1 {
  margin-top: 50%; }

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA; }

.container:hover .overlay {
  opacity: 1; }

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%); }

/*# sourceMappingURL=style.css.map */
