{% load static %}

<!DOCTYPE html>
<html lang="es" >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" href="{% static '/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static '/scss/style.css' %}">




    <title>NODE</title>
</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col-xs">
                {%include "includes/nav.html" %}
            </div>
        </div>
    </div>
    <div>

    </div>

    {% block body %}

    {% endblock %}

    {% include "includes/footer.html" %}


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="static/js/bootstrap.min.js"></script>
<script src="static/js/background.js"></script>
</body>
</html>