{% load static %}

    <footer class="footer-class">

            <div class="col-md-4">
            </div>
            <div class="footer col-md-4">
                <p>C./Isla de Graciosa, nº2, local</p>
                <p>35600, Puerto del rosario</p>
                <p>Tlf. 828 908 650</p>
                <p>info@nodegestion.es</p>
            </div>
            <div class="col-md-4">
            </div>
            <div class="footer-label">
                <p>Copyright. Diseñado por<a href="https://es.linkedin.com/in/jmcabrerarodriguez" target="_blank">
                    <strong> Juan Manuel CABRERA </strong></a></p>
            </div>
    </footer>